body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Wheel-box{
  display: flex;
  height: 125px;
  width: 150px;
  background-color: grey;
  justify-items: center;
  margin: 25% 0% 0% 45%;
  border: 1.5px solid black;

}
.wheel-outerring{
  background-color: white;
  display: flex;
  width: 81px;
  height: 84px;
  border-radius: 60%;
  margin: 0px 16px;
  padding: 20px;
}

.wheel-innerring{
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 15px;
  position: absolute;
}
.Menu{
  margin-top: -10px;
  margin-left: 20px;
  font-weight: 400;
}
.action-next{
  height: 22px;
  width: 30px;
  margin: 30px 65px;
  position: absolute;
}
.action-back{
  height: 22px;
  width: 30px;
  margin: 30px -20px;
  position: absolute;
}
.action-play{
  height: 22px;
  width: 30px;
  margin: 70px 25px;
  position: absolute;
}
.screen-container{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJfB9uk8Wcz5xTqUwO5Y0sf_aHLadXgTre4w&usqp=CAU");
  background-size: cover;
  position: absolute;
  margin: -9% 0px 0px 45%;
  border: 2px solid black;
}
.list-box{
  width:60px;
  background-color: #edebef;
  box-shadow:  white;
  border: 1px solid white;
  height:99%
}
.wheel-list{
  height: 22px;
  margin-bottom: 5px;
  width: 98%;
  font-size: 12px;
  font-weight: 500; 
}
.title{
  margin-top: 0;
  margin-bottom: 4%;
  font-size: 15px;
  font-weight: bold;
  color: #6d2c89;
  text-align: center;
}
.active{
  background-color: #c6abcc;
  color: black;
}
.setting{
  display: flex;
  height: 135.5px;
  width: 149px;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}
.setting-pic{
  height: 85px;
  width:85px;
  margin:30px;
}
.game{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: #ebebeb;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;}
.game-pic{
  height: 85px;
  width:85px;
  margin:30px;
}
.music{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: white;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;}
.music-pic{
  height: 85px;
  width:85px;
  margin: 30px;
}

.home{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQVTHMfFFkYNuVzoltH2gFDB7S3gZSqS5KMLA&usqp=CAU");
  background-size: cover;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}

.playlist{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: white;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}
li{
  list-style: none;
}
.song{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: white;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}

