body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* this is the outer box */
.Wheel-box{
  display: flex;
  height: 125px;
  width: 150px;
  background-color: grey;
  justify-items: center;
  margin: 25% 0% 0% 45%;
  border: 1.5px solid black;

}
/* this is the white wheel part */
.wheel-outerring{
  background-color: white;
  display: flex;
  width: 81px;
  height: 84px;
  border-radius: 60%;
  margin: 0px 16px;
  padding: 20px;
}
/* this is the enter wheel */
.wheel-innerring{
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 15px;
  position: absolute;
}
/* these four are for buttons section on wheel */
.Menu{
  margin-top: -10px;
  margin-left: 20px;
  font-weight: 400;
}
.action-next{
  height: 22px;
  width: 30px;
  margin: 30px 65px;
  position: absolute;
}
.action-back{
  height: 22px;
  width: 30px;
  margin: 30px -20px;
  position: absolute;
}
.action-play{
  height: 22px;
  width: 30px;
  margin: 70px 25px;
  position: absolute;
}
/* the display screen */
.screen-container{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-image: url("./images/wall.jpeg");
  background-size: cover;
  position: absolute;
  margin: -9% 0px 0px 45%;
  border: 2px solid black;
}
/* for side list section */
.list-box{
  width:60px;
  background-color: #edebef;
  box-shadow:  white;
  border: 1px solid white;
  height:99%
}
.wheel-list{
  height: 22px;
  margin-bottom: 5px;
  width: 98%;
  font-size: 12px;
  font-weight: 500; 
}
/* ttile of the List */
.title{
  margin-top: 0;
  margin-bottom: 4%;
  font-size: 15px;
  font-weight: bold;
  color: #6d2c89;
  text-align: center;
}
.active{
  background-color: #c6abcc;
  color: black;
}
/* setting screen */
.setting{
  display: flex;
  height: 135.5px;
  width: 149px;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}
.setting-pic{
  height: 85px;
  width:85px;
  margin:30px;
}
/* game screen */
.game{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: #ebebeb;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;}
.game-pic{
  height: 85px;
  width:85px;
  margin:30px;
}
/* music screen */
.music{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: white;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;}
.music-pic{
  height: 85px;
  width:85px;
  margin: 30px;
}
/* home screen */
.home{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-image: url("./images/home.jpeg");
  background-size: cover;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}
/* playlist section */
.playlist{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: rgb(212, 111, 111);
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}
li{
  list-style: none;
}
/* this is for music component */
.song{
  display: flex;
  height: 135.5px;
  width: 149px;
  background-color: wheat;
  position: absolute;
  margin: -8.8% 0px 0px 45%;
  border: 2px solid black;
}

